TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=your_api_hash
TELEGRAM_SESSION_NAME=telegram_downloader
DOWNLOAD_DIR=./downloads-mtproto
MAX_CONCURRENT_DOWNLOADS=2
PARALLEL_CHUNK_DOWNLOADS=4
DOWNLOAD_CHUNK_SIZE_MB=0.5
LOG_LEVEL=INFO
REPLY_ON_DUPLICATE=true
